---
---

body {
    font-family: "Noto Sans JP", sans-serif !important;
}

a {
    color: #111 !important;
}

$content-width: 1400px;
@import "minima";

.site-header,
.site-title,
.site-nav {
    line-height: 100px;
    height: 100px;

    @include media-query($on-palm) {
        line-height: 60px !important;
        height: 60px !important;
    }
}

header {
    background: #fff;
}

.main__content {
    border-radius: 10px;
    margin-bottom: 25px;
    background: #fff;

    img {
        border-radius: 10px 10px 0 0;
    }

    .img__title {
        padding: 10px 15px;
    }
}

.details {
    p {
        margin-bottom: 0;
    }
    img {
        border: none !important;
        border-radius: 0;
        box-shadow: none;
        background: #fff;
    }
    h1 {
        padding: 0 0 10px 0;
        font-size: 26px;
    }

    background: #fff;
    box-shadow: 0px 8px 13px 2px #988c8c;
}

@include media-query($on-palm) {
    .details h1 {
        font-size: 20px;
    }
    h3.img__title {
        padding: 10px;
        border-radius: 5px 0;
    }
    .post-link {
        font-size: 18px !important;
    }
    .site-title {
        font-size: 18px !important;
    }
}

.post-title {
    text-align: center;
    margin-top: 20px;
}

.site-footer {
    background: #fff;
}

.post-nav {
    font-size: 18px;
    margin-bottom: 1em;
    display: flex;
    padding: 20px;
}
.post-nav div {
    flex: 1 1 0;
}
.post-nav-next {
    text-align: right;
}

.footer-heading {
    display: none;
}

body {
    background: url("https://image.freepik.com/free-vector/vintage-ornamental-flowers-background_52683-28040.jpg");
}
